USE [master]
GO
/****** Object:  Database [CPAData]    Script Date: 4/21/2020 2:57:39 AM ******/
CREATE DATABASE [CPAData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CPAData', FILENAME = N'C:\Users\Nicol\CPAData.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CPAData_log', FILENAME = N'C:\Users\Nicol\CPAData_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CPAData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CPAData]
GO
USE [CPAData]
GO
/****** Object:  Schema [cpadata]    Script Date: 4/21/2020 2:57:39 AM ******/
CREATE SCHEMA [cpadata]
GO
/****** Object:  Schema [m2ss]    Script Date: 4/21/2020 2:57:39 AM ******/
CREATE SCHEMA [m2ss]
GO
/****** Object:  Table [cpadata].[articles]    Script Date: 4/21/2020 2:57:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cpadata].[articles](
	[ArticleID] [int] IDENTITY(1,1) NOT NULL,
	[Company] [nvarchar](255) NOT NULL,
	[TextSource] [nvarchar](255) NOT NULL,
	[ArticleURL] [nvarchar](255) NOT NULL,
	[ArticleTitle] [nvarchar](255) NOT NULL,
	[ArticleText] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_articles_ArticleID] PRIMARY KEY CLUSTERED 
(
	[ArticleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [cpadata].[balancesheet]    Script Date: 4/21/2020 2:57:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cpadata].[balancesheet](
	[ID] [int] NOT NULL,
	[CompanyYear] [int] NOT NULL,
	[CompanyID] [int] NOT NULL,
	[Company] [nvarchar](255) NOT NULL,
	[FinancialConstructs] [nvarchar](255) NOT NULL,
	[Numbers] [float] NOT NULL,
 CONSTRAINT [PK_balancesheet_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cpadata].[commonword]    Script Date: 4/21/2020 2:57:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cpadata].[commonword](
	[ID] [int] IDENTITY(222,1) NOT NULL,
	[Common] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_commonword_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cpadata].[company]    Script Date: 4/21/2020 2:57:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cpadata].[company](
	[ID] [int] IDENTITY(6,1) NOT NULL,
	[Company] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_company_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cpadata].[incomestatement]    Script Date: 4/21/2020 2:57:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cpadata].[incomestatement](
	[ID] [int] NOT NULL,
	[CompanyYear] [int] NOT NULL,
	[CompanyID] [int] NOT NULL,
	[Company] [nvarchar](255) NOT NULL,
	[FinancialConstructs] [nvarchar](255) NOT NULL,
	[Numbers] [float] NOT NULL,
 CONSTRAINT [PK_incomestatement_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cpadata].[isa]    Script Date: 4/21/2020 2:57:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cpadata].[isa](
	[IsARelationID] [int] IDENTITY(102,1) NOT NULL,
	[KnowledgeObjectA] [nvarchar](255) NOT NULL,
	[KnowledgeObjectB] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_isa_IsARelationID] PRIMARY KEY CLUSTERED 
(
	[IsARelationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cpadata].[isc]    Script Date: 4/21/2020 2:57:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cpadata].[isc](
	[IsCausedByRelationID] [int] IDENTITY(108,1) NOT NULL,
	[KnowledgeObjectA] [nvarchar](255) NOT NULL,
	[KnowledgeObjectB] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_isc_IsCausedByRelationID] PRIMARY KEY CLUSTERED 
(
	[IsCausedByRelationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cpadata].[isp]    Script Date: 4/21/2020 2:57:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cpadata].[isp](
	[IsPartOfRelationID] [int] IDENTITY(89,1) NOT NULL,
	[KnowledgeObjectA] [nvarchar](255) NOT NULL,
	[KnowledgeObjectB] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_isp_IsPartOfRelationID] PRIMARY KEY CLUSTERED 
(
	[IsPartOfRelationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cpadata].[knowledgeobject]    Script Date: 4/21/2020 2:57:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cpadata].[knowledgeobject](
	[KnowledgeObjectID] [int] IDENTITY(359,1) NOT NULL,
	[KnowledgeObject1] [nvarchar](255) NOT NULL,
	[ObjectType] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_knowledgeobject_KnowledgeObjectID] PRIMARY KEY CLUSTERED 
(
	[KnowledgeObjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cpadata].[ratioconstruct]    Script Date: 4/21/2020 2:57:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cpadata].[ratioconstruct](
	[RatioConstructID] [int] IDENTITY(32,1) NOT NULL,
	[RatioConstruct] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ratioconstruct_RatioConstructID] PRIMARY KEY CLUSTERED 
(
	[RatioConstructID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cpadata].[y_ear]    Script Date: 4/21/2020 2:57:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cpadata].[y_ear](
	[ID] [int] IDENTITY(6,1) NOT NULL,
	[Y_EAR] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_y_ear_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [cpadata].[balancesheet] ([ID], [CompanyYear], [CompanyID], [Company], [FinancialConstructs], [Numbers]) VALUES (1001, 2015, 1, N'Tesla', N'Cash and Cash Equivalents', 1196908)
INSERT [cpadata].[balancesheet] ([ID], [CompanyYear], [CompanyID], [Company], [FinancialConstructs], [Numbers]) VALUES (1002, 2015, 1, N'Tesla', N'Short Term Investments', 0)
INSERT [cpadata].[balancesheet] ([ID], [CompanyYear], [CompanyID], [Company], [FinancialConstructs], [Numbers]) VALUES (1003, 2015, 1, N'Tesla', N'Total Cash', 1196908)
GO
SET IDENTITY_INSERT [cpadata].[commonword] ON 

INSERT [cpadata].[commonword] ([ID], [Common]) VALUES (1, N'a')
INSERT [cpadata].[commonword] ([ID], [Common]) VALUES (2, N'able')
INSERT [cpadata].[commonword] ([ID], [Common]) VALUES (3, N'about')
GO
SET IDENTITY_INSERT [cpadata].[commonword] OFF
GO
SET IDENTITY_INSERT [cpadata].[company] ON 

INSERT [cpadata].[company] ([ID], [Company]) VALUES (2, N'Costco')
INSERT [cpadata].[company] ([ID], [Company]) VALUES (5, N'Dennys')
INSERT [cpadata].[company] ([ID], [Company]) VALUES (3, N'Microsoft')
SET IDENTITY_INSERT [cpadata].[company] OFF
GO
INSERT [cpadata].[incomestatement] ([ID], [CompanyYear], [CompanyID], [Company], [FinancialConstructs], [Numbers]) VALUES (1001, 2015, 1, N'Tesla', N'Total Revenue', 4046024)
INSERT [cpadata].[incomestatement] ([ID], [CompanyYear], [CompanyID], [Company], [FinancialConstructs], [Numbers]) VALUES (1002, 2015, 1, N'Tesla', N'Cost of Revenue', 3122521)
INSERT [cpadata].[incomestatement] ([ID], [CompanyYear], [CompanyID], [Company], [FinancialConstructs], [Numbers]) VALUES (1003, 2015, 1, N'Tesla', N'Gross Profit', 923503)
GO
SET IDENTITY_INSERT [cpadata].[isa] ON 

INSERT [cpadata].[isa] ([IsARelationID], [KnowledgeObjectA], [KnowledgeObjectB]) VALUES (1, N'Aging Balance', N'Financial Document')
INSERT [cpadata].[isa] ([IsARelationID], [KnowledgeObjectA], [KnowledgeObjectB]) VALUES (2, N'Aging Balances', N'Financial Document')
INSERT [cpadata].[isa] ([IsARelationID], [KnowledgeObjectA], [KnowledgeObjectB]) VALUES (3, N'Allowance', N'Money')
GO
SET IDENTITY_INSERT [cpadata].[isa] OFF
GO
SET IDENTITY_INSERT [cpadata].[isc] ON 

INSERT [cpadata].[isc] ([IsCausedByRelationID], [KnowledgeObjectA], [KnowledgeObjectB]) VALUES (1, N'Aging Balance', N'Accounts Receivable')
INSERT [cpadata].[isc] ([IsCausedByRelationID], [KnowledgeObjectA], [KnowledgeObjectB]) VALUES (2, N'Aging Balances', N'Accounts Receivable')
INSERT [cpadata].[isc] ([IsCausedByRelationID], [KnowledgeObjectA], [KnowledgeObjectB]) VALUES (3, N'Allowance', N'Money')
GO
SET IDENTITY_INSERT [cpadata].[isc] OFF
GO
SET IDENTITY_INSERT [cpadata].[isp] ON 

INSERT [cpadata].[isp] ([IsPartOfRelationID], [KnowledgeObjectA], [KnowledgeObjectB]) VALUES (1, N'Accounting Technique', N'Technological Advancement')
INSERT [cpadata].[isp] ([IsPartOfRelationID], [KnowledgeObjectA], [KnowledgeObjectB]) VALUES (2, N'Accounting Techniques', N'Technological Advancement')
INSERT [cpadata].[isp] ([IsPartOfRelationID], [KnowledgeObjectA], [KnowledgeObjectB]) VALUES (3, N'Accounts Receivable', N'Aging Balance')
SET IDENTITY_INSERT [cpadata].[isp] OFF
GO
SET IDENTITY_INSERT [cpadata].[knowledgeobject] ON 

INSERT [cpadata].[knowledgeobject] ([KnowledgeObjectID], [KnowledgeObject1], [ObjectType]) VALUES (1, N'Accounting Technique', N'Event')
INSERT [cpadata].[knowledgeobject] ([KnowledgeObjectID], [KnowledgeObject1], [ObjectType]) VALUES (2, N'Accounting Techniques', N'Event')
INSERT [cpadata].[knowledgeobject] ([KnowledgeObjectID], [KnowledgeObject1], [ObjectType]) VALUES (3, N'Aging Balance', N'Resource')
GO
SET IDENTITY_INSERT [cpadata].[knowledgeobject] OFF
GO
SET IDENTITY_INSERT [cpadata].[ratioconstruct] ON 

INSERT [cpadata].[ratioconstruct] ([RatioConstructID], [RatioConstruct]) VALUES (29, N'Accm Retained')
INSERT [cpadata].[ratioconstruct] ([RatioConstructID], [RatioConstruct]) VALUES (19, N'Accounts Receivable')
INSERT [cpadata].[ratioconstruct] ([RatioConstructID], [RatioConstruct]) VALUES (26, N'Bank Loan Balance')
SET IDENTITY_INSERT [cpadata].[ratioconstruct] OFF
GO
SET IDENTITY_INSERT [cpadata].[y_ear] ON 

INSERT [cpadata].[y_ear] ([ID], [Y_EAR]) VALUES (1, N'Y2015')
INSERT [cpadata].[y_ear] ([ID], [Y_EAR]) VALUES (2, N'Y2016')
INSERT [cpadata].[y_ear] ([ID], [Y_EAR]) VALUES (3, N'Y2017')
SET IDENTITY_INSERT [cpadata].[y_ear] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Company]    Script Date: 4/21/2020 2:57:40 AM ******/
CREATE NONCLUSTERED INDEX [Company] ON [cpadata].[articles]
(
	[Company] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Company]    Script Date: 4/21/2020 2:57:40 AM ******/
CREATE NONCLUSTERED INDEX [Company] ON [cpadata].[balancesheet]
(
	[Company] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Common]    Script Date: 4/21/2020 2:57:40 AM ******/
CREATE NONCLUSTERED INDEX [Common] ON [cpadata].[commonword]
(
	[Common] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Company]    Script Date: 4/21/2020 2:57:40 AM ******/
CREATE NONCLUSTERED INDEX [Company] ON [cpadata].[company]
(
	[Company] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Company]    Script Date: 4/21/2020 2:57:40 AM ******/
CREATE NONCLUSTERED INDEX [Company] ON [cpadata].[incomestatement]
(
	[Company] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [KnowledgeObjectA]    Script Date: 4/21/2020 2:57:40 AM ******/
CREATE NONCLUSTERED INDEX [KnowledgeObjectA] ON [cpadata].[isa]
(
	[KnowledgeObjectA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [KnowledgeObjectA]    Script Date: 4/21/2020 2:57:40 AM ******/
CREATE NONCLUSTERED INDEX [KnowledgeObjectA] ON [cpadata].[isc]
(
	[KnowledgeObjectA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [KnowledgeObjectA]    Script Date: 4/21/2020 2:57:40 AM ******/
CREATE NONCLUSTERED INDEX [KnowledgeObjectA] ON [cpadata].[isp]
(
	[KnowledgeObjectA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [KnowledgeObject1]    Script Date: 4/21/2020 2:57:40 AM ******/
CREATE NONCLUSTERED INDEX [KnowledgeObject1] ON [cpadata].[knowledgeobject]
(
	[KnowledgeObject1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RatioConstruct]    Script Date: 4/21/2020 2:57:40 AM ******/
CREATE NONCLUSTERED INDEX [RatioConstruct] ON [cpadata].[ratioconstruct]
(
	[RatioConstruct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Y_ear]    Script Date: 4/21/2020 2:57:40 AM ******/
CREATE NONCLUSTERED INDEX [Y_ear] ON [cpadata].[y_ear]
(
	[Y_EAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cpadata.articles' , @level0type=N'SCHEMA',@level0name=N'cpadata', @level1type=N'TABLE',@level1name=N'articles'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cpadata.balancesheet' , @level0type=N'SCHEMA',@level0name=N'cpadata', @level1type=N'TABLE',@level1name=N'balancesheet'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cpadata.commonword' , @level0type=N'SCHEMA',@level0name=N'cpadata', @level1type=N'TABLE',@level1name=N'commonword'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cpadata.company' , @level0type=N'SCHEMA',@level0name=N'cpadata', @level1type=N'TABLE',@level1name=N'company'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cpadata.incomestatement' , @level0type=N'SCHEMA',@level0name=N'cpadata', @level1type=N'TABLE',@level1name=N'incomestatement'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cpadata.isa' , @level0type=N'SCHEMA',@level0name=N'cpadata', @level1type=N'TABLE',@level1name=N'isa'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cpadata.isc' , @level0type=N'SCHEMA',@level0name=N'cpadata', @level1type=N'TABLE',@level1name=N'isc'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cpadata.isp' , @level0type=N'SCHEMA',@level0name=N'cpadata', @level1type=N'TABLE',@level1name=N'isp'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cpadata.knowledgeobject' , @level0type=N'SCHEMA',@level0name=N'cpadata', @level1type=N'TABLE',@level1name=N'knowledgeobject'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cpadata.ratioconstruct' , @level0type=N'SCHEMA',@level0name=N'cpadata', @level1type=N'TABLE',@level1name=N'ratioconstruct'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cpadata.y_ear' , @level0type=N'SCHEMA',@level0name=N'cpadata', @level1type=N'TABLE',@level1name=N'y_ear'
GO
USE [master]
GO
